<h1 class="title">Carro de compras</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio unitario</th>
      <th>Cantidad</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of items; track $index) {
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price * item.quantity }}</td>
        <td><button class="btn btn-danger" (click)="remove(item)">eliminar</button></td>
      </tr>
    }
  </tbody>
</table>
